---
layout: page
title: Sonica Kulkarni
permalink: /

---
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</head>
<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
    <div class="col-sm-8">
        <div class="block">
       <h1 class="animated fadeInUp overlay-h1 spaced p-h" style="font-weight: 500; font-size: 3.5vw; margin-top: 14vw; float: left;"> Sonica Kulkarni</h1> 
          <p class="animated fadeInUp overlay-p p-h" style="font-weight: 500; font-size: 1.5vw; float: left;">I'm an aspiring User Experience Designer </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="block">
<img style="border-radius: 50%; margin-top: 5vw; background-color: black; background: rgba(0, 0, 0, 0.75); width: 28vw; height: 28vw; float: right;" src="..\img\Sonica.png" alt="Img">
        </div>
    </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
 <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Experiments</h2>
            
          </div>
          <p></p>
        </div>
      <!-- .col-md-7 close -->

    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Blogs</h2>
      <p>Hello</p>
      <a href="#" class="btn btn-view-works" style="color: black">View Blogs</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Skills</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon size="large" name="terminal-sharp"></ion-icon>
          <h4>C/C++</h4>
          <p>This is where my coding journey started as these were the first languages I learned to code</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon size="large" name="code-slash-sharp"></ion-icon>
          <h4>HTML/CSS</h4>
          <p>This was introduced to me in the 7th grade but I've only come to appreciate it in my engineering days</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon size="large" name="logo-javascript"></ion-icon>
          <h4>JavaScript</h4>
          <p></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon size="large" name="code-working-sharp"></ion-icon>
          <h4>PHP</h4>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon size="large" name="server-sharp"></ion-icon>
          <h4>SQL/MySQL</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
         <ion-icon size="large" name="logo-react"></ion-icon>
          <h4>React JS</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon size="large" name="document-outline"></ion-icon>
          <h4>Technical Writing</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
        <ion-icon size="large" name="logo-figma"></ion-icon>
          <h4>User Experience</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2></h2>
          <p></p>
          <a class="btn btn-default btn-call-to-action" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<!--<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> -->
